<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
    <div>
        <aside class="bd-sidebar">
            <div class="offcanvas-lg offcanvas-start bg-primary text-white" tabindex="-1" id="bdSidebar"
                aria-labelledby="bdSidebarOffcanvasLabel">
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">SIPRO By SmartPRO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                        data-bs-target="#bdSidebar"></button>
                </div>
    
                <div class="offcanvas-body">
                    <nav class="bd-links" id="bd-menu-nav" aria-label="Menu navigation">
                        <ul class="bd-links-nav list-unstyled mb-0 p-3 pb-md-2 pe-lg-2">
                            <li class="bd-links-group py-2">
                                <button class="btn btn-primary w-100 text-start">
                                    <i class="bi bi-house"></i>
                                    Home
                                </button>
                            </li>
                            <li class="bd-links-group py-2">
                                <button class="btn btn-primary w-100 text-start">
                                    <i class="bi bi-cart4"></i>
                                    Procurement
                                </button>
                                <ul class="list-unstyled fw-normal pb-2 small ms-4">
                                    <li>
                                        <button class="btn btn-primary w-100 text-start">
                                            <i class="bi bi-inboxes-fill"></i>
                                            Request
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary w-100 text-start">
                                            <i class="bi bi-person-check-fill"></i>
                                            Approval
                                        </button>
                                    </li>
                                </ul>
                            </li>
                            <li class="bd-links-group py-2">
                                <button class="btn btn-primary w-100 text-start">
                                    <i class="bi bi-cash-coin"></i>
                                    Purchase
                                </button>
    
                                <ul class="list-unstyled fw-normal pb-2 small ms-4">
                                    <li>
                                        <button class="btn btn-primary w-100 text-start">
                                            <i class="bi bi-inboxes-fill"></i>
                                            Request
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary w-100 text-start">
                                            <i class="bi bi-person-check-fill"></i>
                                            Approval
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary w-100 text-start">
                                            <i class="bi bi-file-earmark-text-fill"></i>
                                            Generate Order
                                        </button>
                                    </li>
                                </ul>
                            </li>
                            <li class="bd-links-group py-2">
                                <button class="btn btn-primary w-100 text-start">
                                    <i class="bi bi-gear"></i>
                                    App Setting
                                </button>
    
                                <ul class="list-unstyled fw-normal pb-2 small ms-4">
                                    <li>
                                        <button class="btn btn-primary w-100 text-start">
                                            <i class="bi bi-building-fill"></i>
                                            Division
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary w-100 text-start">
                                            <i class="bi bi-person-check-fill"></i>
                                            Role
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary w-100 text-start">
                                            <i class="bi bi-person-fill-lock"></i>
                                            Access Permission
                                        </button>
                                    </li>
                                    <li>
                                        <button class="btn btn-primary w-100 text-start">
                                            <i class="bi bi-people-fill"></i>
                                            Staff
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
    
        </aside>
    </div>
</div>
</html>