<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="sidebar" class="active" th:fragment="sidebar">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <h5>Menu</h5>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-item">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="home" width="20"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="shopping-cart" width="20"></i>
                        <span>Procurement</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#" class='sidebar-link'>
                                <i data-feather="inbox" width="20"></i>
                                <span>Request</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class='sidebar-link'>
                                <i data-feather="user-check" width="20"></i>
                                <span>Approval</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="dollar-sign" width="20"></i>
                        <span>Purchase</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#" class='sidebar-link'>
                                <i data-feather="inbox" width="20"></i>
                                <span>Request</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class='sidebar-link'>
                                <i data-feather="user-check" width="20"></i>
                                <span>Approval</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="settings" width="20"></i>
                        <span>App Setting</span>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>Division</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class='sidebar-link'>
                                <i data-feather="sliders" width="20"></i>
                                <span>Role</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class='sidebar-link'>
                                <i data-feather="unlock" width="20"></i>
                                <span>Role Access</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class='sidebar-link'>
                                <i data-feather="users" width="20"></i>
                                <span>Staff</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

</html>