<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">
<head>
    <meta charset="UTF-8" />
    <title>Division Detail</title>
</head>
<body>

<div class="main-content container-fluid" layout:fragment="main-content">
    <h2 th:text="${page_name}"></h2>
    <form id="form-edit-division" th:object="${division}" method="post" th:action="@{/app-setting/division/{id} (id = ${id})}">
        <div class="form-group position-relative">
            <label for="username">Division ID</label>
            <div class="position-relative">
                <input type="text" class="form-control" id="id" th:field="*{id}" disabled>
            </div>
            <ul class="error-ul">
                <li th:each="err : ${#fields.errors('id')}" th:text="${err}" class="error">
                </li>
            </ul>
        </div>
        <div class="form-group position-relative">
            <label for="username">Division Name</label>
            <div class="position-relative">
                <input type="text" class="form-control" id="name" th:field="*{name}" disabled>
            </div>
            <ul class="error-ul">
                <li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error">
                </li>
            </ul>
        </div>
        <div class="form-group position-relative">
            <label for="username">Last Updated Date</label>
            <div class="position-relative">
                <input type="text" class="form-control" id="updatedDate" th:field="*{updatedDate}" disabled>
            </div>
            <ul class="error-ul">
                <li th:each="err : ${#fields.errors('updatedDate')}" th:text="${err}" class="error">
                </li>
            </ul>
        </div>
        <div class="clearfix">
            <a id="btn-login" class="btn btn-secondary float-end" th:href="@{/app-setting/division}">Back</a>
        </div>
    </form>
</div>

</body>
</html>